{% extends 'base.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <!-- Détails de la réservation sélectionnée -->
    {% if selectedReservation %}
        <div class="mb-4 bg-white p-4 rounded-lg">
            <div class="flex justify-between items-center mb-4">
                <h1 class="text-2xl font-bold text-orange-600">Réservation n°{{ selectedReservation.id }}</h1>
                <div class="space-x-2">
                    <a class="text-orange-600 hover:text-orange-800">✏️</a>
                    <a class="text-orange-600 hover:text-orange-800">🗑️</a>
                </div>
            </div>
            <div class="w-full gap-2">
                <div class="flex justify-between items-center">
                    <p class="font-bold">Statut</p>
                    <p>{{ selectedReservation.getStatusValue }}</p>
                </div>
                <div class="flex justify-between items-center">
                    <p class="font-bold">Utilisateur</p>
                    <a href="{{ path('admin_users', { selected: selectedReservation.getUser.id })}}" class="text-blue-600 hover:text-blue-800">
                        {{ selectedReservation.getUser.email }}
                    </a>
                </div>
                <div class="flex justify-between items-center">
                    <p class="font-bold">Voiture</p>
                    <a href="{{ path('admin_cars', { selected: selectedReservation.getCar.id })}}" class="text-blue-600 hover:text-blue-800">
                        {{ selectedReservation.getCar.getModel.name }}
                    </a>
                </div>
                <div class="flex justify-between items-center">
                    <p class="font-bold">Début de la location</p>
                    <p>{{ selectedReservation.getBeginningDate.format('d-m-Y') }}</p>
                </div>
                <div class="flex justify-between items-center">
                    <p class="font-bold">Début de la location</p>
                    <p>{{ selectedReservation.getEndingDate.format('d-m-Y') }}</p>
                </div>
                <div class="flex justify-between items-center">
                    <p class="font-bold">Durée de la location</p>
                    <p>{{ selectedReservation.getDaysDuration }} jours</p>
                </div>
                {% if selectedReservation.isPending %}
                    <div class="flex justify-end space-x-2 mt-4">
                        <form action="{{ path('admin_reservation_confirm', app.request.query.all|merge({id: selectedReservation.id})) }}" method="post">
                            <button type="submit" name="action" value="confirm" class="bg-orange-600 text-white px-2 py-1 rounded-lg">Confirmer</button>
                            <button type="submit" name="action" value="cancel" class="bg-gray-400 text-white px-2 py-1 rounded-lg">Annuler</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <!-- Tableau des réservations -->
    <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
        <thead>
            <tr class="bg-orange-600 text-white">
                <th class="px-4 py-2 text-left">Utilisateur</th>
                <th class="px-4 py-2 text-left">Voiture</th>
                <th class="px-4 py-2 text-left">Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr class="border-b border-gray-300 cursor-pointer {% if selectedReservation and selectedReservation.id == reservation.id %}bg-orange-100{% endif %}" onclick="window.location.href='{{ path('admin_reservations', app.request.query.all|merge({'selected': reservation.id})) }}'">
                    <td class="px-4 py-2">{{reservation.getUser.email}}</td>
                    <td class="px-4 py-2">{{reservation.getCar.getModel.name}}</td>
                    <td class="px-4 py-2">{{reservation.getStatusValue}}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="px-4 py-2 text-center text-gray-500">Aucune réservation trouvée</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "components/pagination.html.twig" with { currentPage: app.request.get('page')|default(1), route: 'admin_reservations', maxpage: maxPage, itemsCount: itemsCount } %}
</div>
{% endblock %}
